.transparent-button {
    -fx-background-color: rgb(115, 115, 115, 0.3); /* Corrected to rgb */
    -fx-min-width: 50px;
    -fx-text-fill: #fff;
    -fx-hovered-background-color: rgb(115, 115, 115, 0.5); /* Corrected to rgb */
}

.transparent-button:hover {
    -fx-background-color: rgb(115, 115, 115, 0.5); /* Corrected to rgb */
}

/* style.css */


.toggle-button:selected {
    -fx-background-color: rgb(115, 115, 115, 0.7); /* Darker background when selected */
}

.toggle-button {
    -fx-background-color: rgb(115, 115, 115, 0.3); /* Default background */
    -fx-padding: 5px; /* Padding around the image */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
    -fx-alignment: center; /* Center the image */
    -fx-content-display: center; /* Ensure the graphic is centered */
}

.win-widget{
    -fx-background-color: #BC8F8F;
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
    -fx-padding: 10px; /* Padding around the content */

}

.win-widget:disabled {
    -fx-managed: false;
    -fx-visible: false;
    visibility: hidden;
}

.grid-button{
    -fx-background-color: rgb(115, 115, 115, 0.3);
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
    -fx-padding: 10px; /* Padding around the content */
}

.grid-button:hover {
    -fx-background-color: rgb(115, 115, 115, 0.5); /* Darker background on hover */
}

.physics-demo{
    -fx-background-color: WHITE;
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
    -fx-padding: 10px; /* Padding around the content */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.physics-demo Text {
    -fx-fill: #333333;
}

/*.grid-button:selected .mark {*/
/*    -fx-shape: "M6,3 A1,1 0 0,1 5.99,4"; !* Smaller X *!*/
/*    -fx-background-color: black; !* Checkmark color *!*/
/*    -fx-scale-x: 1.5; !* Scale the checkmark horizontally *!*/
/*    -fx-scale-y: 1.5; !* Scale the checkmark vertically *!*/
/*}*/